<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <form action="/products/save-add" onsubmit="return validatedata()" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="">Tên sản phẩm</label>
                    <input type="text" name="name" id="product_name" class="form-control">
                    <span style="color: red;" id="pName-err"></span>
                </div>
                <div class="form-group">
                    <label for="">Danh mục</label>
                    <select name="cate_id" class="form-control">
                    {{#each cates}}
                        <option value="{{this._id}}">{{this.name}}</option>
                    {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="">Trạng thái phòng</label>
                    {{{check_room_status }}}
                </div>

                <div class="form-group">
                    <label for="">Ảnh </label>
                    <input type="file" name="image" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Giá sp </label>
                    <input type="number" name="price" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Chi tiết</label>
                    <textarea name="detail" class="form-control" rows="10"></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-sm btn-primary">Lưu</button>
                    <a href="/" class="btn btn-sm btn-danger">Hủy</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function validatedata(){
        var pName = document.querySelector('#product_name').value;
        if(pName == ""){
            document.querySelector('#pName-err').innerText = "Vui lòng nhập tên sản phẩm";
        }else if(pName < 4 || pName > 20){
            document.querySelector('#pName-err').innerText = "Tên sản phẩm phải nằm trong khoảng 4-20 ký tự";
        }
        else{
            document.querySelector('#pName-err').innerText = "";
        }

        return false;
    }

</script>