<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">
          <a href="http://google.com" class="btn btn-danger">Thêm</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>
          <img src="http://www.krugerpark.co.za/images/1-lion-charge-gc590a.jpg" width="100" class="img-thumbnail">
      </td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Gender</label>
                <select name="" class="form-control">
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">Other</option>
                </select>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-sm btn-primary">Save</button>
                <button type="submit" class="btn btn-sm btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>